---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import ProductCard from "../components/ProductCard.astro";
import { supabase } from "../lib/supabase";

const { data: Productos, error } = await supabase.from("Productos").select("*");
---

<Layout>
    <SectionContainer>
        <h1 class="text-3xl font-bold mb-8 text-center text-gray-800">Nuestros Productos</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 p-4">
            {
                Productos && Productos.length > 0 ? (
                    Productos.map((producto) => (
                        <ProductCard
                            Producto_id={producto.Producto_id}
                            Producto={producto.Producto}
                            Descripcion={producto.Descripcion}
                            Precio={producto.Precio}
                            Cantidad={producto.Cantidad}
                            Imagen={producto.Imagen}
                            Categoria={producto.Categoría}
                            Marca={producto.Marca}
                            Estilo={producto.Estilo}
                        />
                    ))
                ) : (
                    <div class="col-span-full text-center">
                        <p class="text-gray-500 text-lg">
                            No hay productos disponibles.
                        </p>
                    </div>
                )
            }
        </div>
    </SectionContainer>
</Layout>